name: Remote Shell Pro

on:
  workflow_dispatch:
    inputs:
      command:
        description: "Command to execute"
        required: true

jobs:
  execute:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Persistent Command
        run: |
          set +x

          echo "===OUTPUT_START==="

          if [ -f .gh_state ]; then
            CURRENT_DIR=$(cat .gh_state)
          else
            CURRENT_DIR=$GITHUB_WORKSPACE
          fi

          cd "$CURRENT_DIR"

          OUTPUT=$(bash -c "${{ github.event.inputs.command }}" 2>&1)

          echo "$OUTPUT"

          pwd > .gh_state

          echo "===OUTPUT_END==="
