name: Advanced Terminal Runner

on:
  workflow_dispatch:
    inputs:
      script:
        description: "Script shell (multi-line)"
        required: true
        default: |
          echo "Hello"
          pwd
          ls -la

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Script
        shell: bash
        run: |
          cat << 'EOF' > user_script.sh
          ${{ github.event.inputs.script }}
          EOF
          chmod +x user_script.sh
          ./user_script.sh
